/*
    To do: clean up mess. put in correct order. add accessibility. Do fun donut thing. (maybe on donut click). Link effects.
*/

/* main */

body {
    font-family: 'Helvetica';
    margin: 0 auto;
    background-image: url(images/sprinkles.jpeg);
    line-height: 1.8em;
    padding: 12px;
    box-sizing: border-box;
    color: #949393;
}

body,
html {
    height: 100%;
    font-size: 1.2em;
}

.wrapper {
    box-sizing: border-box;
    background: #fff;
    box-shadow: 0 0 5px #2ED4F0;
    height: 75%;
    width: 75%;
    overflow: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* TO DO - update with the different colors */
/* .aqua-link {
    color: #B5B5B5;
    text-decoration: none;
    border-bottom: 1px solid #00DDC2;
}

.aqua-link:hover {
    border-bottom: 1px solid #00DDC2;
    color: #696969;
} */

.aqua-link {
    background: linear-gradient(to bottom, var(#00DDC2) 0%, var(#00DDC2) 100%);
      background-position: 0 100%;
      background-repeat: repeat-x;
      background-size: 3px 3px;
    color: #000;
    text-decoration: none;
  }
  
  .aqua-link:hover {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23ff9800' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
    background-position: 0 100%;
    background-size: auto 6px;
    background-repeat: repeat-x;
    text-decoration: none;
  }


.blue-link {
    color: #B5B5B5;
    text-decoration: none;
    border-bottom: 1px solid #2ED4F0;
}

.blue-link:hover {
    border-bottom: 1px solid #2ED4F0;
    color: #696969;
}

.orange-link {
    color: #B5B5B5;
    text-decoration: none;
    border-bottom: 1px solid #FF9E80;
}

.orange-link:hover {
    border-bottom: 1px solid #FF9E80;
    color: #696969;
}
.pink-link {
    color: #B5B5B5;
    text-decoration: none;
    border-bottom: 1px solid #FFDBE4;
}

.pink-link:hover {
    border-bottom: 1px solid #FFDBE4;
    color: #696969;
}
.purple-link {
    color: #B5B5B5;
    text-decoration: none;
    border-bottom: 1px solid #CB97E3;
}

.purple-link:hover {
    border-bottom: 1px solid #CB97E3;
    color: #696969;
}

.yellow-green-link {
    color: #B5B5B5;
    text-decoration: none;
    border-bottom: 1px solid #C9DD00;
}

.yellow-green-link:hover {
    border-bottom: 1px solid #C9DD00;
    color: #696969;
}

.aqua {
    color: #00DDC2;
}

.blue {
    color: #2ED4F0;
}

.gray {
    color: #B5B5B5;
}

.orange {
    color: #FF9E80;
}

.pink {
    color: #FFDBE4;
}

.purple {
    color: #CB97E3;
}

.yellow-green {
    color: #C9DD00;
}







p {
    font-weight: 200;
    font-size: 20px;
}

.name {
    font-family: Playfair Display;
    font-size: 50px;
    font-weight: 900;
}

.container {
    margin: 0 auto;
    width: 900px;
    height: 400px;
    padding: 40px 12px;
    overflow: auto;
}

.meta {
    text-transform: uppercase;
    font-family: Courier New, Quicksand, "Helvetica Neue", "Arial", sans-serif;
    font-size: 11px;
    letter-spacing: .15em;
}

/* .meta a:hover {
    border-bottom: 1px solid #CCFF26;
    color: #333;
} */

.inline-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.inline-list li {
    display: inline-block;
}

footer .inline-list li {
    padding-right: 40px;
}

footer {
    margin: 0 auto;
    position: absolute;
    bottom: 0px;
    padding: 40px 0;
    width: 100%;
}

/* colors for reference */

/* .aqua {
    color: #00DDC2;
}

.blue {
    color: #2ED4F0;
}

.gray {
    color: #B5B5B5;
}

.orange {
    color: #FF9E80;
}

.pink {
    color: #FFDBE4;
}

.purple {
    color: #CB97E3;
}

.yellow-green {
    color: #C9DD00;
} */

